@import url(https://fonts.googleapis.com/css?family=Chewy);
html {
  overflow-y: scroll;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #fff;
}

header {
  text-align: center;
}

h1 {
  font-size: 4rem;
  margin: 0;
  padding: 1rem;
}

h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

h4 {
  text-align: center;
}

p {
  font-size: 2rem;
  text-align: center;
}

.topnav {
  background-color: lightskyblue;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  background-color: lightskyblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: background-color 0.5s ease-out 100ms;
}

.topnav a:hover {
  background-color: cornflowerblue;
  color: white;
}

.topnav a.active {
  background-color: cornflowerblue;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 767px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.destacados {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.image {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 10px 5px lightgrey;
  object-fit: cover;
  height: 15rem;
  width: 15rem;
}

.innershadow {
  font-size: 16px;
  color: #999;
  padding: 6px;
  -moz-box-shadow: inset 2px 2px 5px #888;
  box-shadow: inset 2px 2px 5px #888;
  border: 1px solid #b8b8b8;
}

@keyframes animateSize {
  0% {
    transform: scale(1, 1);
  }
  80% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes icon {
  100% {
    stroke-dashoffset: 400;
  }
}
@keyframes adding {
  0% {
    width: 100%;
  }
  20% {
    width: 80%;
  }
  80% {
    width: 80%;
  }
  100% {
    width: 100%;
  }
}
.icon {
  width: 24px;
  aspect-ratio: 1/1;
  stroke-dasharray: 400;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid #e5e7eb;
  position: sticky;
  top: 0px;
  background: #fff;
  z-index: 4;
}
.header__logo {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Chewy";
  color: #4f46e5;
}
.header__actions-action {
  height: 3.5rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  appearance: none;
  cursor: pointer;
  border: 0px;
  border-radius: 0.5rem;
  background: #f3f4f6;
  color: #4b5563;
  padding: 1rem;
  transition: background 0.3s ease;
  transition-delay: 0.5s;
  position: relative;
}
.header__actions-action__badge {
  width: 1.2rem;
  aspect-ratio: 1/1;
  border-radius: 1rem;
  position: absolute;
  font-size: 0.8rem;
  top: 0.2rem;
  right: 0.2rem;
  align-items: center;
  justify-content: center;
  background: #ec4899;
  color: #fff;
  display: none;
}
.header__actions-action__badge.add {
  animation: animateSize 0.4s ease forwards;
}
.header__actions-action:not(.empty) {
  background: lightskyblue;
  color: white;
}
.header__actions-action:not(.empty) .icon {
  animation: icon 1s reverse;
}
.header__actions-action:not(.empty) .header__actions-action__badge {
  display: flex;
}

main {
  padding: 1rem;
  display: flex;
  gap: 3rem;
  flex-flow: column;
}
main h1 {
  color: #374151;
}

.grid {
  display: grid;
  gap: 5rem;
}
@media (width > 800px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

.product {
  padding: 2rem;
  border-radius: 3rem;
  box-shadow: 0 25px 50px -12px rgba(59, 130, 246, 0.1254901961);
  display: grid;
  row-gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: 15rem minmax(2rem, auto) auto auto 3rem;
  grid-template-areas: "image" "title" "description" "price" "button";
}
@media (width > 800px) {
  .product {
    column-gap: 2rem;
    row-gap: 1rem;
    grid-template-columns: minmax(10rem, 20rem) minmax(10rem, 20rem);
    grid-template-rows: minmax(2rem, auto) 1fr 2rem 3rem;
    grid-template-areas: "image title" "image description" "image price" "image button";
  }
}
.product.hide {
  transform-origin: center;
  animation: hide 0.6s forwards;
}
.product-title {
  grid-area: title;
  margin: 0px;
  margin-top: 0.6rem;
}
.product-image {
  grid-area: image;
  overflow: hidden;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  isolation: isolate;
}
.product-image img {
  width: 100%;
  border-radius: 3rem;
  transition: transform 0.4s ease;
}
.product-image img:hover {
  transform: scale(1.4, 1.4) rotate(25deg);
}
.product-price {
  grid-area: price;
  margin: 0px;
  font-weight: bold;
  color: #4b5563;
  font-size: 1.7rem;
}
.product-description {
  grid-area: description;
  margin: 0px;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #374151;
  max-width: 400px;
}
.product-button {
  grid-area: button;
  background: lightskyblue;
  color: white;
  border: 0px;
  border-radius: 2rem;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
}
.product-button svg {
  display: none;
}
.product-button[disabled] {
  background: #e5e7eb;
  color: #6b7280;
}
.product-button.adding {
  animation: adding 2s;
}
.product-button.adding span {
  display: none;
}
.product-button.adding svg {
  display: block;
}

.aboutus {
  display: flex;
  flex-direction: row;
  background-color: lightskyblue;
  align-items: center;
  width: 90vw;
  height: 70vh;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  border-radius: 1rem;
}

.aboutustext {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: white;
}

.aboutusimg {
  display: flex;
  height: 60vh;
}

@media screen and (max-width: 767px) {
  .aboutus {
    height: auto;
  }
  .aboutusimg {
    display: none;
  }
  .aboutustext {
    margin: 1rem;
  }
}
form {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 50vw;
  margin-bottom: 3rem;
}

.form {
  display: flex;
  justify-content: center;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: cornflowerblue !important;
}

@media screen and (max-width: 767px) {
  form {
    width: 80vw;
  }
}
footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: lightskyblue;
  height: auto;
  width: auto;
  padding-top: 40px;
  color: white;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: white;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  margin-right: 2rem;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: white;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
}

.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: cornflowerblue;
}

.footer-bottom {
  background: cornflowerblue;
  width: auto;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.footer-bottom p {
  color: white;
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom p a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.5s ease-out 100ms;
}

.footer-bottom p a:hover {
  color: lightskyblue;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

.footer-menu {
  float: right;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;
  display: block;
}

.footer-menu ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.5s ease-out 100ms;
}

.footer-menu ul li a:hover {
  color: lightskyblue;
}

@media (max-width: 500px) {
  .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
.productpage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-bold {
  font-weight: 800;
}

text-color {
  color: #0093c4;
}

/* Main image - left */
.main-img img {
  width: 100%;
}

/* Preview images */
.previews img {
  width: 100%;
  height: 140px;
}

.main-description .category {
  text-transform: uppercase;
  color: #0093c4;
}

.main-description .product-title {
  font-size: 2.5rem;
}

.old-price-discount {
  font-weight: 600;
}

.new-price {
  font-size: 2rem;
}

.details-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  color: #757575;
}

.buttons .block {
  margin-right: 5px;
}

.quantity input {
  border-radius: 0;
  height: 40px;
}

.custom-btn {
  text-transform: capitalize;
  background-color: #0093c4;
  color: white;
  width: 150px;
  height: 40px;
  border-radius: 0;
}

.custom-btn:hover {
  background-color: #0093c4 !important;
  font-size: 18px;
  color: white !important;
}

.similar-product img {
  height: 400px;
}

.similar-product {
  text-align: left;
}

.similar-product .title {
  margin: 17px 0px 4px 0px;
}

.similar-product .price {
  font-weight: bold;
}

.questions .icon i {
  font-size: 2rem;
}

.questions-icon {
  font-size: 2rem;
  color: #0093c4;
}

@media (max-width: 767.98px) {
  .previews img {
    width: 100%;
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
